.page-projects {
  .project-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
  }

  .project-content {
    flex: 1;

    h2 {
      text-transform: uppercase;
    }

    .project-status {
      text-transform: uppercase;
      color: $vand-highlight;
    }
  }

  .project-image {
    height: 256px;
    width: 256px;
    border-radius: 25%;
    overflow: hidden;
    margin-right: 30px;

    img {
      width: 256px;
      margin-top: 0px;
    }
  }
}